.artists-container {
  width: $max-width;
  margin: 0 auto;
  height: 100vh;
}

.article {
  margin-bottom: 2rem;
  p {
    text-align: center;
  }
}

.artist-header{
  margin-top: 150px;
  margin-bottom: 2rem;
  text-align: center; 
}

.cards-artists {
  margin-top: 50px;
  margin-bottom: 100px;
}

.card-artists {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  text-align: center;
  height: 450px;
  width: 30rem;
  border-radius: $radius;
  padding: 20px 20px;
  transition: $transition !important;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: $radius;
    box-shadow: $light-shadow;
    margin-bottom: 1rem;
  }
}

.card-container {
  margin: 0 auto;
  width: $max-width;
}

.desc-artists {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: $boxclr;
  padding: 20px 10px;
  // box-shadow: $light-shadow;
  transition: $transition !important;
  p {
    margin-top: 10px;
    letter-spacing: 1.2px;
    font-size: 0.8rem;
  }
}

.card-artists:hover {
  background: $clrPry4 !important;
  transform: translateY(-3px) !important;
  p,
  h3 {
    color: white;
  }
  .desc-artists {
    background: $clrPry4;
  }
}
