.impressions-container {
  width: $max-width;
  margin: 0 auto;
}

.image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
}

.image-grid {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

@media screen and (max-width: 700px) {
    .impressions-container {
      width: 400px;
      margin: 0 auto;
    }
  }