.footer-container {
  margin: 0 auto;
  height: 9rem;
  background-color: $clrHead;
  a {
    color: white;
    font-weight: 500;
    font-size: medium;
  }
}
.footer {
  margin: 0 auto;
  padding-top: 50px;

  width: 500px;
  display: flex;
  justify-content: space-around;
}
