.header-kontakt {
  // padding-top: 100px;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 100px;
}

.MuiInputLabel-outlined {
  z-index: 0 !important;
}

.formwrapper {
  margin: 50px auto;
  width: 700px;
  text-align: center;
  margin-bottom: 100px;
}

.button-senden {
  margin: 0 auto;
  width: max-content;
  margin-top: 40px;
  cursor: pointer;
  text-decoration: none;
  color: $clrPara;
  text-transform: uppercase;
  letter-spacing: $spacing;
  font-weight: 600;
  font-size: 1.2rem;
  transition: $transition;
}

.senden {
  text-decoration: none;
  color: $clrPara;
  background-color: $mainBg;
  text-transform: uppercase;
  letter-spacing: $spacing;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
}

.button-line {
  width: 90%;
  height: 0.2rem;
  margin-top: 0.5rem;
  background: $clrHead;
  margin-left: auto;
  margin-right: auto;
  transition: 0.4s cubic-bezier(0.2, 1.5, 0.2, 1.5);
}

.button-senden:hover {
  transform: translateY(-5px);

  .button-line {
    width: 50%;
  }
}

@media screen and (max-width: 860px) {
  .formwrapper {
    margin: 50px auto;
    width: 550px;
    text-align: center;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 860px) {
  .formwrapper {
    margin: 50px auto;
    width: 400px;
    text-align: center;
    margin-bottom: 100px;
  }
}
