.header-kontakt {
  // padding-top: 100px;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 100px;
}

.MuiInputLabel-outlined {
  z-index: 0 !important;
}

.formwrapper {
  margin: 50px auto;
  width: 700px;
  text-align: center;
  margin-bottom: 100px;
}

.button-senden {
  margin: 0 auto;
  width: max-content;
  margin-top: 40px;
  margin-bottom: 290px;
  cursor: pointer;
  text-decoration: none;
  color: $clrPara;
  text-transform: uppercase;
  letter-spacing: $spacing;
  font-weight: 600;
  font-size: 1.2rem;
  transition: $transition;
  input {
    transition: 0.2s;
  }
}

.button-modal {
  margin: 0 auto;
  width: max-content;
  margin-top: 40px;
  // margin-bottom: 290px;
  cursor: pointer;
  text-decoration: none;
  // color: $clrPara;
  color: $clrPara;
  text-transform: uppercase;
  letter-spacing: $spacing;
  font-weight: 600;
  font-size: 1.2rem;
  transition: $transition;
  p {
    color: $clrPara;
    font-family: "Jost", "Open Sans", sans-serif;
    transition: $transition;
  }
}

.modal-body {
  text-align: center;
}

.modal-header {
  justify-content: center !important;
}
.modal-content {
  background-color: $mainBg;
}

.senden {
  text-decoration: none;
  color: $clrPara;
  background-color: $mainBg;
  text-transform: uppercase;
  letter-spacing: $spacing;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
}

.button-line {
  width: 80%;
  height: 0.2rem;
  margin-top: 0.5rem;
  background: $clrHead;
  margin-left: auto;
  margin-right: auto;
  transition: 0.4s cubic-bezier(0.2, 1.5, 0.2, 1.5);
}

.button-senden:hover {
  transform: translateY(-5px);
  input {
    color: $clrPry4;
  }
  .button-line {
    width: 40%;
    background-color: $clrPry4;
  }
}

.button-modal:hover {
  transform: translateY(-5px);
  p {
    color: $clrPry4;
  }

  .button-line {
    width: 40%;
    background-color: $clrPry4;
  }
}

@media screen and (max-width: 860px) {
  .formwrapper {
    margin: 50px auto;
    width: 550px;
    text-align: center;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 860px) {
  .formwrapper {
    margin: 50px auto;
    width: 400px;
    text-align: center;
    margin-bottom: 100px;
  }
}
