
.container-mieten {
  margin: 0 auto;
  max-width: $max-width;
  height: 100%;
}

.mieten-header {
  margin-top: 100px;
  margin-bottom: 2rem;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  width: $max-width;
  position: relative;
}

.cards {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

.card {
  width: 22rem;
  width: 350px;
  text-align: center;
  height: 480px;
  border-radius: $radius;
  padding: 20px 20px;
  transition: $transition !important;
  background-color: $mainBg;
  border: none;
  img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $radius;
    box-shadow: $light-shadow;
    margin-bottom: 1rem;
  }
}


.desc {
  width: 100%;
  margin: 0 auto;
  background-color: $boxclr;
  padding: 20px 10px;
  transition: $transition !important;
  p {
    margin-top: 10px;
    letter-spacing: 1.2px;
    font-size: 0.8rem;
    transition: $transition;
  }
  h3 {
    transition: $transition;

  }
}

.card:hover {
  background: $clrPry4 !important;
  transform: translateY(-3px) !important;
  p,
  h3 {
    color: white;
  }
  .desc {
    background: $clrPry4;
  }
}

.button-impressionen {
  margin: 0 auto;
  width: max-content;
  margin-top: 30px;
  cursor: pointer;
  transition: $transition;
  padding: 10px 20px;
  a {
    
    transition: $transition;
  }
}

.button-line {
  width: 90%;
  height: 0.2rem;
  margin-top: 0.5rem;
  background: $clrHead;
  margin-left: auto;
  margin-right: auto;
  transition: 0.4s cubic-bezier(0.2, 1.5, 0.2, 1.5);
}

.button-impressionen:hover {
  background-color: $clrPry4;
  border-radius: 5px;
  box-shadow: $dark-shadow;
  transform: translateY(-5px);
  a {
    // color: $clrHead;
    color: white;
  }
  .button-line {
    width: 40%;
    background: white;
  }
}

