.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: $mainBg;
  top: 0;
  position: fixed;
  z-index: 1;
}

.logo {
  display: flex;
  height: 100%;
  align-items: center;
  // width: 126px;
  object-fit:scale-down;
}

.logo-wrapper{
  height: 70px;
}

.nav-titles {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  font-size: 0;
  font-weight: 600;
  letter-spacing: $spacing;
  height: 70px;
  transition: $transition;
  a {
    font-size: 0.8rem;
    text-transform: uppercase;
  }


 
  .active {
    border-bottom: solid 3px black;
    // position: absolute;
    // display: flex;
    // height: 100%;
    // background-image: url(../../images/Logo_ohneName.png);
    // background-position: left 17px bottom 0px;
    // background-size: contain;
    // // background-position: center;
    // background-repeat: no-repeat;
    // width: 126px;
    // transition: $transition;
    // justify-content: center;
    // align-items: center;
    
  }
  :hover {
    cursor: pointer;
  }
}

.social-icons {
  display: flex;
  justify-content: space-around;
  width: 150px;
  align-items: center;
  font-size: 20px;
  a {
    transition: $transition;
  }
  a:hover {
    color: $clrPry4;
    cursor: pointer;
  }
}
