.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: $mainBg;
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}

// NOt ACTIVE
.logo {
  height: 100%;
  align-items: center;
  object-fit: scale-down;
  cursor: pointer;
  justify-content: center;
  height: 70px;
  width: 126px;
  display: flex;
}

.logo-wrapper {
  justify-content: center;
  height: 70px;
  width: 126px;
  display: flex;
  align-items: center;
  transition: 5s;
}

.btn-home {
  cursor: pointer;
  font-size: 25px;
}

.nav-titles {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  font-size: 0;
  font-weight: 600;
  letter-spacing: $spacing;
  height: 70px;
  transition: $transition;
  a {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .animation {
    position: absolute;
    height: 100%;
    background-image: url(../../images/Logo_ohneName.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 126px;
    transition: 0.5s;
  }
  :hover {
    cursor: pointer;
  }
}

// .social-icons {
//   display: flex;
//   justify-content: space-around;
//   width: 150px;
//   align-items: center;
//   font-size: 20px;
//   a {
//     transition: 0.1s;
//   }
//   a:hover {
//     color: $clrPry4;
//     cursor: pointer;
//   }
// }
