.bulliframe-wrapper {
  max-width: $max-width;
  margin: 0 auto;
  height: 100vh;
}

.bulliframe {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  background-image: url(../../images/bulliframe.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 550px;
  h3{
      font-size: 2.6rem;
  }
  p{
      font-size: 2rem;
      line-height: 2.3rem;
      font-weight: 500;
      font-family: "Jost";
      letter-spacing: 1px;
  }
  :nth-child(2){
    top: 210px;
  }
  :nth-child(3){
    top: 360px;
  }
}

article{
    position: absolute;
    top: 60px;
    left: 60px;
}


.button-artists {
  margin: 0 auto;
  width: max-content;
  margin-top: 40px;
}

.button-line {
  width: 50%;
  height: 0.20rem;
  margin-top: 0.5rem;
  background: $clrHead;
  margin-left: auto;
  margin-right: auto;
  transition: .4s cubic-bezier(.2,1.5,.2,1.5);
}

.button-artists:hover{
    .button-line{
        width: 80%;
    }
}