.banner {
  background-size: cover;
  background-position:center;
  margin: 0 auto;
  width: 100%;
  height: 63vh;
  position: relative;
  // bottom: 0;
}

.container-start {
  height: 100vh;
}

.header-start {
  text-align: center;
  margin-top: 110px;
}

.button-story {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: $transition;
  width: max-content;
  position: absolute;
  bottom: 2rem;
  cursor: pointer;

  a {
    color: white;
    transition: $transition;
    font-weight: 600;
  }
}

.button-line-start {
  width: 90%;
  height: 4px;
  margin-top: 0.5rem;
  background: white;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s cubic-bezier(0.2, 1.5, 0.2, 1.5);
}
.button-story:hover {
  transform: translateY(-5px);

  // a {
  //   color: $clrPry4;
  // }
  .button-line-start {
    width: 40%;
    // background-color: $clrPry4;
  }
}

// @media screen and (max-width: 960px) {
//     .header-start{
//       margin-top: 150px;
//     }
//   }
