.banner {
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 100%;
  height: 55vh;
  position: relative;
}

.header-start {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 130px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: 130px 0;
  // h4 {
  //   text-align: center;
  //   margin-bottom: 50px;
  // }
}

.button-story {
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 

  width: max-content;
  position: absolute;
  bottom: 2rem;
  cursor: pointer;

  a {
    color: $mainBg;
  }
}

.button-line-start {
  width: 90%;
  height: 0.2rem;
  margin-top: 0.5rem;
  background: $mainBg;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s cubic-bezier(0.2, 1.5, 0.2, 1.5);
}
.button-story:hover {
  a {
    color: white;
  }
  .button-line-start {
    width: 40%;
  }
}
