ul {
  padding-left: 0 !important;
}

.NavbarItems {
  background: #f1f1f1;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 11rem;
}

.logo {
  width: 127px;
}

.frame {
  position: absolute;
  height: 100%;
  top: 0px;
  background-image: url(../../images/Logo_ohneName.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* transform: translateX(-172%); */
  width: 200px;
  transition: 0.5s;
}

.logo-wrapper {
  justify-content: center;
  height: 70px;
  width: 126px;
  display: flex;
  align-items: center;
  transition: 5s;
}

.nav-menu {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
  width: 60vw;
  justify-content: center;
  margin-bottom: 0;
  height: 70px;
  align-items: center;
}

.nav-links {
  color: black;
  padding: 0.5rem 4rem;
  font-size: 0.8rem;
  text-transform: uppercase;

}

.nav-links:hover {
  color: black;
  cursor: pointer;
}

.menu-icon {
  display: none;
  /* font-size: 25px; */
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  width: 11rem;
  align-items: center;
  font-size: 20px;
}
.social-icons a {
  transition: 0.1s;
}
.social-icons a:hover {
  color: #f15025;
  cursor: pointer;
}



/* MOBILE RESPONSIVE */


@media screen and (max-width: 860px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100px;
    right: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    justify-content: flex-start;
    background: #212121;
    width: 100%;
    right: 0;
    height: 100vh;
    opacity: 2;
    transition: all 0.4s ease;
    z-index: 10;
    margin: 0;
    padding-top: 20px;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    color: #f1f1f1;
    font-size: 1.4rem;
  }

  .nav-links:hover {
    transform: translateY(-5px);
    color: #f1f1f1;
    transition: all 0.2s ease;
  }

  .social-icons li {
    display: none;
  }

  .navbar-logo {
    position: absolute;
    display: flex;
    /* justify-content: center; */
    /* top: 0; */
    /* left: 35%; */
    /* transform: translate(0, 25%); */
    
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 25%;
    right: 0;
    transform: translate(-100%, 60%);
    cursor: pointer;
    font-size: 1.5rem;
  }

}
