/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-pry-1: #c1401e;
  --clr-pry-2: #913016;
  --clr-pry-3: #60200f;
  /* primary/main color */
  --clr-pry-4: #f15025;
  /* lighter shades of primary color */
  --clr-pry-5: #f47351;
  --clr-pry-6: #f7967c;
  --clr-pry-7: #f9b9a8;
  /* heading color */
  --clr-head: #212121;
  /* paragraph color */
  --clr-para: #212121;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* to use the styles for example: transition: var(--transition)  */

/*
  =============== 
  Global Styles
  ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", 'Open Sans', sans-serif;
  background-color: #f1f1f1;
  color: var(--clr-para);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-para);
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  color: var(--clr-head);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-para);
  font-family: 'Open Sans', sans-serif;
}
